<div id="password-lock">
    <h1>{{general.label}}</h1>
    {{#if general.description}}<p class="notes">{{{general.description}}}</p>{{/if}}
    <input type="password" name="currentPassword" id="" value="{{currentPassword}}">
</div>
